body,
#section{
	font-family: 'Luckiest Guy', cursive;
}

#header{
	width: 200px;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
}
#hBg{
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	z-index: 100;
	width: 200px;
	background: rgba(255,255,255,0.5);
}
#headerWrapper{
	width: 180px;
	margin: 0 auto;
	padding: 20px 0;
}
#header #logo{
	font-size: 2.5em;
}
#header nav ul li{
	line-height: 2;
	font-size: 1.5em
}

#visual
#visual iframe{
	position: relative;
	z-index: 900;
}

section {
	padding: 40px 0 40px 220px;
}
section h2{
	font-size: 1.5em;
	margin-left: 10px;
}

#text p{
	margin: 1em 0 0 10px;
	font-family: sans-serif;
}

#works article,
#partners article,
#member article{
	float: left;
	margin: 10px;
}

#about,
#member{
	background: #cfcfcf;
}
#about dl{
	font-family: sans-serif;	
		margin:10px 0 0 10px;
}