* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.85em;
}

ul,
li {
  list-style: none outside;
}

img {
  border: none;
  vertical-align: top;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
