#about section {
  &#media {
    margin: 0 0 100px 0; }
  .columns-works {
    float: left;
    width: 580px; }
  .oneColumn h4 {
    margin: 0 0 20px 0; }
  .columns-works .works-rack {
    width: 580px;
    margin: 0 0 20px 0;
    .works-block {
      width: 180px;
      height: 70px;
      position: relative;
      top: 0;
      left: 0;
      .works-photo {
        width: 180px;
        height: 160px;
        position: absolute;
        top: 0;
        display: none;
        &.active {
          display: block; } }
      .works-detail {
        width: 180px;
        height: 70px;
        text-align: center;
        font-size: 10px;
        color: #FFF;
        background-color: #000;
        position: absolute;
        top: 0;
        table {
          width: 180px;
          height: 70px;
          tr {
            overflow: hidden;
            th {
              height: 70px;
              text-align: center;
              vertical-align: middle;
              h3 {
                text-align: center;
                font-size: 1.4em;
                letter-spacing: 0.03em;
                color: #FFF;
                font-family: 'Maven Pro', 'Maru Folk Medium', sans-serif;
                display: inline; } }
            td {
              display: none;
              p {
                display: none; } } } } }
      &.column-1 {
        margin: 0 20px 0 0;
        float: left; }
      &.column-2 {
        float: left; }
      &.column-3 {
        float: right; }
      &.active .works-detail {
        &.bg-1 {
          background: #CF0C83; }
        &.bg-2 {
          background: #00B9E4; }
        &.bg-3 {
          background: #8CD600; }
        &.bg-4 {
          background: #E47A00; }
        &.bg-5 {
          background: #FFD70F; }
        &.bg-6 {
          background: #8D00C9; }
        &.bg-7 {
          background: #576E4B; }
        &.bg-8 {
          background: #497584; }
        &.bg-9 {
          background: #A0674B; }
        table {
          height: 160px;
          tr {
            th h3 {
              font-size: 1.5em;
              text-shadow: 1px 1px 5px #AAA;
              color: #FFF; }
            td {
              height: 50px;
              vertical-align: top;
              display: block;
              p {
                margin: 0 10px;
                font-size: 1em;
                letter-spacing: 0.08em;
                line-height: 1.3em;
                font-family: 'Iceland', 'Maru Folk Medium', sans-serif;
                color: #FFF;
                text-align: left;
                display: block; }
              &.works-align-right {
                height: 20px;
                vertical-align: middle;
                display: block;
                p {
                  font-size: 1em;
                  text-align: right;
                  display: block;
                  a {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: #FFF;
                    text-decoration: underline;
                    font-family: 'Maven Pro', sans-serif;
                    &:hover {
                      font-size: 1.3em;
                      text-decoration: none; } } } } } } } } } } }