/**
 * Sassy stylesheet for uniba.jp
 */

@charset "UTF-8";

/**
 * Reset and utilities.
 */

@import "modules/mixin";
@import "modules/reset";
@import "modules/clearfix";

/**
 * Variables
 */

$width: 1024px;
$serif: "Ryumin Medium KL", "Hiragino Mincho Pro";
$sansSerif: "Myriad Pro", "Open Sans", "Segoe UI", "Gothic Medium BBB", "Hiragino Kaku Gothic Pro";

/**
 * Style modules.
 */

@import "modules/foundation";
@import "modules/content";
@import "modules/fb-likebox";
@import "modules/about";
@import "modules/works";
@import "modules/favor";
@import "modules/client";
@import "modules/member";
@import "modules/anchor";
@import "modules/canvas";
@import "modules/fallback";
