@import "compass";
@import "compass/reset/";

@mixin breakpoint($breakpoint) {
  @if $breakpoint == pc {
    @media ( max-width: 1068px ) { @content; }
  }
  @else if $breakpoint == tablet {
    @media ( max-width: 770px ) { @content; }
  }
  @else if $breakpoint == sp {
    @media ( max-width: 510px ) { @content; }
  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
  }
}

body {
  background-color: #FFF;
  padding: 20px 0 0 60px;
  font-family: '小塚ゴシック Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo',sans-serif;
  @include breakpoint(sp) {
    padding: 10px 10px 0 10px;
  }
}

header {
  margin: 0 0 180px 0;
  @include breakpoint(sp) {
    margin: 0 0 30px 0;
  }
  h1,h2 {
    text-transform: uppercase;
    font-family:'Futura W01 Medium';
  }
  h1 {
    letter-spacing: 0.1em;
  }
  h2 {
    margin: 30px 0 50px -7px;
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2em;
    @include breakpoint(sp) {
      margin: 23px 0 25px -3px;
      font-size: 1.6em;
    }
  }
  ul {
    overflow: hidden;
    @include breakpoint(sp) {
      display: none;
    }
    li {
      margin: 0 30px 0 0;
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      font-family:'Futura W01 Medium';
      letter-spacing: 0.1em;
      &:hover,&.active {
        text-decoration: line-through;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  table {
    width: 100%;
    display: none;
    @include breakpoint(sp) {
      display: inline-table;
    }
    td {
      width: 50%;
      vertical-align: middle;
      border: 1px solid #000;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: bold;
      font-family:'Futura W01 Medium';
      letter-spacing: 0.1em;
      &:hover {
        color: #FFF;
        background-color: #000;
      }
      a {
        padding: 14px 0 14px 10px;
        display: block;
      }
    }
  }
}

.box {
  margin: 0 0 40px 0;
  h3 {
    display: inline-block;
    margin: 0 0 9px 0;
    padding: 4px 5px 2px 4px;
    background-color: #000;
    color: #FFF;
    font-size: 0.9em;
    font-family:'Futura W01 Medium';
    font-style: italic;
    letter-spacing: 0.1em;
  }
  .screenshots {
/*     height: 130px; */
    overflow-x: hidden;
    overflow-y: hidden;
    @include breakpoint(tablet) {
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      overflow-y: hidden;
    }
    @include breakpoint(sp) {
      overflow: hidden;
    }
    ul {
      width: 2330px;
      height: 130px;
      position: relative;
      line-height: 0;
      @include breakpoint(sp) { 
        width: 100%;
        height: auto;
        min-height: 130px;
      }
      li {
        margin: 0 -3px 0 0;
        position: absolute;
        @for $i from 0 through 10 {
          &:nth-child(#{$i + 1}) {
            left: #{233 * $i}px;
          }
        }
        @include breakpoint(sp) {
          position: static;
          @for $i from 1 through 10 {
            &:nth-child(#{$i + 1}) {
              display: none;
            }
          }
        }
        img {
          margin: 0;
          padding: 0;
          @include breakpoint(sp) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .title {
    margin: 9px 0 0 0;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
}

footer {
  margin: 85px 60px 40px 0;
  .button {
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    &:hover {
      background-color: #000;
    }
    a {
      padding: 30px 0 0 0;
      width: 100%;
      height: 50px;
      display: block;
      font-size: 1.1em;
      color: #000;
      text-decoration: none;
      font-family:'Futura W01 Medium';
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:hover {
        color: #FFF;
      }
      span {
        width: 100%;
        height: 80px;
      }
    }
  }
}