* {
	margin: 0; padding: 0;
}

body  {
	background-color:#f0f0f0;
	margin: auto;
}


.top{
	width: 100%;
	background-color: #333333;
	height: 80px;
	top: 0;
	overflow: hidden;
}

/*-------------- title ----------------*/

.title {
	text-align: center;
	font-size: 24px;
	letter-spacing: 0.1em;
	font-family: sans-serif;
	color: #4c4c4c;
	margin-top: 20px;
	font-style: italic;
}

.title .typeYU {
	font-size: 24px;
	color: #00b7ee;
	font-weight: 500
}

.title .typeNI {
	font-size: 24px;
	color: #e60012;
	font-weight: 500
}
.title .typeBA {
	font-size: 24px;
	color: #ffffff;
	font-weight: 500
}
.title .typeDO {
	font-size: 24px;
	color: #fff100;
	font-weight: 500
}
.title .typeGA {
	font-size: 24px;
	color: #00b7ee;
	font-weight: 500
}
.title .typeMA {
	font-size: 24px;
	color: #ffffff;
	font-weight: 500
}
.title .typeTO {
	font-size: 24px;
	color: #e60012;
	font-weight: 500
}
.title .typeME {
	font-size: 24px;
	color: #fff100;
	font-weight: 500
}
.title .typeL {
	font-size: 26px;
	color: #ffffff;
	font-weight: 500
}

/*-------------- contents ----------------*/


.service {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:  center;
	font-size: 20px;
	font-family: sans-serif;
	color: #4c4c4c;
	letter-spacing: 0.1em;
	
}

#container {
}

p{
	float: left;
	margin-top: 5px;
	font-size: 14px;
	color: #4c4c4c;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	width: 300px;
	
}

span p {
	background: #ffffff;
	
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}