@charset "UTF-8";
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/main.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 16, ../sass/main.scss */
a:hover {
  text-decoration: line-through;
}

/* line 21, ../sass/main.scss */
body {
  background-color: #FFF;
  padding: 20px 0 0 60px;
  font-family: '小塚ゴシック Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo',sans-serif;
}
@media (max-width: 560px) {
  /* line 21, ../sass/main.scss */
  body {
    padding: 10px 10px 0 10px;
  }
}

/* line 30, ../sass/main.scss */
header {
  margin: 0 0 180px 0;
}
/* line 32, ../sass/main.scss */
header h1, header h2 {
  text-transform: uppercase;
  font-family: 'Futura W01 Medium';
}
/* line 36, ../sass/main.scss */
header h1 {
  letter-spacing: 0.1em;
}
/* line 39, ../sass/main.scss */
header h2 {
  margin: 30px 0 50px -7px;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.2em;
}
/* line 46, ../sass/main.scss */
header ul {
  overflow: hidden;
}
/* line 48, ../sass/main.scss */
header ul li {
  margin: 0 30px 0 0;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Futura W01 Medium';
  letter-spacing: 0.1em;
}
/* line 55, ../sass/main.scss */
header ul li:hover, header ul li.active {
  text-decoration: line-through;
}
/* line 58, ../sass/main.scss */
header ul li:last-child {
  margin: 0;
}

/* line 65, ../sass/main.scss */
.box {
  margin: 0 0 40px 0;
}
/* line 67, ../sass/main.scss */
.box h3 {
  display: inline-block;
  margin: 0 0 9px 0;
  padding: 4px 5px 2px 4px;
  background-color: #000;
  color: #FFF;
  font-size: 0.9em;
  font-family: 'Futura W01 Medium';
  font-style: italic;
  letter-spacing: 0.1em;
}
/* line 78, ../sass/main.scss */
.box .screenshots {
  height: 130px;
  /*     overflow: hidden; */
  overflow: auto;
  /*     -webkit-overflow-scrolling: touch; */
}
/* line 83, ../sass/main.scss */
.box .screenshots ul {
  width: 2330px;
  height: 130px;
  position: relative;
  line-height: 0;
}
/* line 88, ../sass/main.scss */
.box .screenshots ul li {
  margin: 0 -3px 0 0;
  position: absolute;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(1) {
  left: 0px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(2) {
  left: 233px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(3) {
  left: 466px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(4) {
  left: 699px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(5) {
  left: 932px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(6) {
  left: 1165px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(7) {
  left: 1398px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(8) {
  left: 1631px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(9) {
  left: 1864px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(10) {
  left: 2097px;
}
/* line 92, ../sass/main.scss */
.box .screenshots ul li:nth-child(11) {
  left: 2330px;
}
/* line 96, ../sass/main.scss */
.box .screenshots ul li img {
  margin: 0;
  padding: 0;
}
/* line 103, ../sass/main.scss */
.box .title {
  margin: 9px 0 0 0;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

/* line 110, ../sass/main.scss */
footer {
  margin: 85px 60px 40px 0;
}
/* line 112, ../sass/main.scss */
footer .button {
  border: 1px solid #000;
  width: 100%;
  height: 80px;
}
/* line 116, ../sass/main.scss */
footer .button:hover {
  background-color: #000;
}
/* line 119, ../sass/main.scss */
footer .button a {
  padding: 30px 0 0 0;
  width: 100%;
  height: 50px;
  display: block;
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
  font-family: 'Futura W01 Medium';
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* line 131, ../sass/main.scss */
footer .button a:hover {
  color: #FFF;
}
/* line 134, ../sass/main.scss */
footer .button a span {
  width: 100%;
  height: 80px;
}
